

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Information</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-white">
    <div class="flex flex-col justify-center items-center h-screen p-4" style="background-color: #425C5A;">
        <h1 class="text-3xl font-bold mb-4 text-white ">Your Ticket </h1>
        <div id="ticket-info" class="bg-gray-100 rounded-lg shadow-lg p-4 sm:w-1/2 sm:mx-auto">
        </div>
    </div>
    <script>
        async function fetchAndDisplayTicketData() {
            try {
                const urlParams = new URLSearchParams(window.location.search);
                const ticketId = urlParams.get('ticketId');
                if (!ticketId) {
                    console.error("Ticket ID not found in URL");
                    return;
                }

                const response = await fetch(`http://localhost:3000/api/ticket/${ticketId}`);
                const ticket = await response.json();
                console.log("------", ticket)

                const ticketInfoHTML = `
                    <div class="flex flex-col">
                        <div class="flex justify-between items-center mb-2 md:text-lg">
                            <strong>Name:</strong>
                            <span>${ticket.userName}</span>
                        </div>
                        <div class="flex justify-between items-center mb-2 md:text-lg">
                            <strong>Email:</strong>
                            <span>${ticket.userEmail}</span>
                        </div>
                        <div class="flex justify-between items-center mb-2 md:text-lg">
                            <strong>Bus Plate:</strong>
                            <span>${ticket.busPlate}</span>
                        </div>
                        <div class="flex justify-between items-center mb-2 md:text-lg">
                            <strong>Date:</strong>
                            <span>${ticket.busDate}</span>
                        </div>
                        <div class="flex justify-between items-center mb-2 md:text-lg">
                            <strong>Departure Time:</strong>
                            <span>${ticket.busTime}</span>
                        </div>
                        <div class="flex justify-between items-center mb-2 md:text-lg">
                            <strong>Price:</strong>
                            <span>${ticket.price}</span>
                        </div>
                    </div>
                `;

                const ticketInfoContainer = document.getElementById("ticket-info");
                ticketInfoContainer.innerHTML = ticketInfoHTML;
            } catch (error) {
                console.error("Error fetching ticket:", error);
            }
        }

        window.onload = fetchAndDisplayTicketData;
    </script>
</body>
</html>


